@model IEnumerable<HardstyleFamily.Models.ViewModel>


@{
    ViewData["Title"] = "Index";
    string loggedInUserEventsAttending = " ";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttendingTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.UserId != null)
            {
                loggedInUserEventsAttending = item.EventsAttending;
            }
            if (item.UserId == null)
            {
                @if (loggedInUserEventsAttending != null && loggedInUserEventsAttending.Contains(item.EventId + "\":true"))
                {
                    <tr style="background-color:green;">
                        <td>
                            @Html.DisplayFor(modelItem => item.AttendingTotal)
                            <form>
                                <button name="eventGoing" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Going</button>
                                <button name="eventNotGoing" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Not going</button>
                                <!--<button name="eventReset" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Reset</button>-->
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                        </td>
                    </tr>
                }
                else if (loggedInUserEventsAttending != null && loggedInUserEventsAttending.Contains(item.EventId + "\":false"))
                {
                    <tr style="background-color:red;">
                        <td>
                            @Html.DisplayFor(modelItem => item.AttendingTotal)
                            <form>
                                <button name="eventGoing" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Going</button>
                                <button name="eventNotGoing" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Not going</button>
                                <!--<button name="eventReset" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Reset</button>-->
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="background-color:grey;">
                        <td>
                            @Html.DisplayFor(modelItem => item.AttendingTotal)
                            <form>
                                <button name="eventGoing" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Going</button>
                                <button name="eventNotGoing" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Not going</button>
                                <!--<button name="eventReset" value=@Html.DisplayFor(modelItem => item.EventId) asp-action="check1">Reset</button>-->
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>
